{% extends "base.html" %}
{% load staticfiles %}
{#{% load avatar_tags %}#}

{% block extrahead %}
    <title>All task</title>
{% endblock %}

{% block content %}
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-9"><input name="task_title" required type="text" class="form-control"
                                     placeholder="Task title"></div>
        <div class="col-md-2"><input name="the_date" type="date" class="form-control" placeholder="Task title"
                                     value="{{ cp.date }}" min="{{ cp.date }}"></div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
    </form>
</div>
<hr>
{% if tasks %}

    {% for key,task in tasks.items %}
        <div class="panel panel-info">
            <div class="panel-heading">{{ task.0.the_date }}</div>

            <br>
            <ul>
                {% for t in task %}
                    <li>{{ t.task_title }}</li>
                {% endfor %}

            </ul>


        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">No task Has been listed</div>
{% endif %}

{% endblock %}


